.section{
    background-color: royalblue;
    margin-right: auto;
    margin-left: auto;
    width: 100vw;
    }
    
    .image-container {
    
        width: 100%;
     
         .div {
          position: unset !important;
        }
      
        .image-home {
          object-fit: cover;
          width: 100% !important;
          position: relative !important;
          top: 20vh;
          height: unset !important;
        }
      }