.section{
background-color: antiquewhite;
margin-right: auto;
margin-left: auto;
width: 97vw;
}

.section {

    background-color background-color: '#ff00cc' ;
  
     .div {
      color: white ;
    }
  

  }